@use '../abstracts/functions' as *;

.floor-plan {
  $wall-length: 380;
  position: relative;
  aspect-ratio: var(--plan-ratio);

  &__wall {
    position: absolute;
    left: var(--wall-left);
    right: var(--wall-right);
    top: var(--wall-top);
    bottom: var(--wall-bottom);
  }
}
