@use '../abstracts/functions' as *;
@use '../abstracts/settings' as *;

.floor-plan {
  position: relative;
  aspect-ratio: var(--plan-ratio);

  &__inner {
    position: absolute;
    padding: var(--wall-width-main);
    bottom: 0;
    aspect-ratio: var(--plan-ratio);
    width: percent($apartment-design-size, $plan-design-size);
  }

  &__wall {
    position: absolute;
    left: var(--wall-left);
    right: var(--wall-right);
    top: var(--wall-top);
    bottom: var(--wall-bottom);
  }

  &__balcony-open {
    position: absolute;
    top: var(--wall-border-size);
    left: percent(180, $plan-design-size);
    width: percent(200, $plan-design-size);
    height: percent(40, $plan-design-size);
  }

  &__balcony-glazed {
    position: absolute;
    bottom: 0;
    right: var(--wall-border-size);
    width: percent(40, $plan-design-size);
    height: percent(230, $plan-design-size);
  }

  &__rooms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    display: flex;
    &_1 {
      flex: 0 0 percent(145, 344);
    }

    &_2 {
      flex: 1;
    }
  }

  &__kitchen {
    flex: 0 0 percent(110, 344);
  }

  &__living {
    flex: 1;
  }
  &__wall-kl {
    position: relative;
    height: calc(100% + var(--wall-border-size));
  }
}
