@use '../abstracts/functions' as *;

.room {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-room);
  // .room__dimension
  &__dimension {
    position: absolute;
    font-size: fluid-clamp(10, scale-to-max(10));
    // .room__dimension_top
    &_top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    // .room__dimension_right
    &_right {
      right: rem(-2);
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }
    // .room__dimension_bottom
    &_bottom {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    // .room__dimension_left
    &_left {
      left: rem(-2);
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }

    &_padding {
      &_top {
        padding-top: fluid-clamp(7, scale-to-max(7));
      }
      &_bottom {
        padding-bottom: fluid-clamp(7, scale-to-max(7));
      }
    }
  }
  // .room__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: fluid-clamp(17, scale-to-max(17));

    &_small {
      font-size: fluid-clamp(13, scale-to-max(13));
    }
  }
  // .room__name
  &__name {
  }
  // .room__area
  &__area {
  }
}
