@use '../abstracts/functions' as *;

.wall {
  position: relative;
  height: var(--wall-width);
  width: var(--wall-length, 100%);
  background-color: var(--color-wall-fill);
  border: var(--wall-border-size) solid var(--color-wall);

  &__window,
  &__door {
    position: absolute;
    height: 100%;
    left: var(--position);
    width: var(--length);
    background-color: var(--color-page);
    border: var(--wall-border-size) solid var(--color-wall);
    border-top: none;
    border-bottom: none;

    &_join {
      &_start {
        border-left: none;
      }
      &_end {
        border-right: none;
      }
    }
  }

  &__window {
    --window-gap: calc(
      (100% - var(--wall-border-size) - var(--wall-border-size)) / 3
    );

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: var(--wall-border-size);
      width: 100%;
      background-color: var(--color-wall);
    }

    &::before {
      top: var(--window-gap);
    }

    &::after {
      top: calc(
        var(--window-gap) + var(--window-gap) + var(--wall-border-size)
      );
    }
  }

  &__door {
    &::before {
      content: '';
      position: absolute;
      height: percent(30, 19);
      width: var(--wall-border-size);
      background-color: var(--color-wall);
      left: 50%;
      transform: translate(-50%, -18%);
    }
  }

  &_join {
    &_start::before,
    &_end::after {
      content: '';
      position: absolute;
      height: var(--wall-width);
      width: calc(var(--wall-width) - var(--wall-border-size));
      background-color: var(--color-wall-fill);
      border: var(--wall-border-size) solid var(--color-wall);
      z-index: 1;
      --join-offset: calc(var(--wall-border-size) * -1);
    }

    &_start {
      &::before {
        top: var(--join-offset);
        left: var(--join-offset);
        border-right: none;
      }
    }

    &_end {
      &::after {
        top: var(--join-offset);
        right: var(--join-offset);
        border-left: none;
      }
    }
  }

  &_join-start-open {
    &_top::before {
      border-top: none;
    }
    &_bottom::before {
      border-bottom: none;
    }
    &_left::before {
      border-left: none;
    }
  }

  &_join-end-open {
    &_top::after {
      border-top: none;
    }
    &_bottom::after {
      border-bottom: none;
    }
    &_right::after {
      border-right: none;
    }
  }

  &_vertical {
    width: var(--wall-width);
    height: var(--wall-length, 100%);

    &.wall {
      &_join {
        &_start::before,
        &_end::after {
          width: var(--wall-width);
          height: calc(var(--wall-width) - var(--wall-border-size));
          border: var(--wall-border-size) solid var(--color-wall);
        }

        &_start {
          &::before {
            border-bottom: none;
          }
        }

        &_end {
          &::after {
            bottom: var(--join-offset);
            left: var(--join-offset);
            border-top: none;
          }
        }
      }

      &_join-start-open {
        &_top::before {
          border-top: none;
        }
        &_right::before {
          border-right: none;
        }
        &_left::before {
          border-left: none;
        }
      }

      &_join-end-open {
        &_left::after {
          border-left: none;
        }
        &_bottom::after {
          border-bottom: none;
        }
        &_right::after {
          border-right: none;
        }
      }
    }

    .wall {
      &__window,
      &__door {
        height: var(--length);
        left: 0;
        top: var(--position);
        width: 100%;
        border: var(--wall-border-size) solid var(--color-wall);
        border-left: none;
        border-right: none;

        &_join {
          &_start {
            border-top: none;
          }
          &_end {
            border-bottom: none;
          }
        }
      }

      &__window {
        &::before,
        &::after {
          width: var(--wall-border-size);
          height: 100%;
        }

        &::before {
          top: auto;
          left: var(--window-gap);
        }

        &::after {
          top: auto;
          left: calc(
            var(--window-gap) + var(--window-gap) + var(--wall-border-size)
          );
        }
      }

      &__door {
        &::before {
          width: percent(30, 19);
          height: var(--wall-border-size);
          left: 0;
          top: 50%;
          transform: translate(-18%, -50%);
        }
      }
    }
  }
}
