$wall-design-width: 18;
$wall-design-width-railing: 9;
$wall-design-width-glass: 11;
$wall-design-width-partition: 6;
$wall-design-border-size: 2;
$plan-design-size: 420;
$apartment-design-size: 380;
// --
$plan-max-width: 880;
$plan-min-width: 450;
$padding: 15;
